@page "/messages"
@inherits MessagesComponent

@using C1.Blazor.Grid

<h1>Messages<hr/></h1>

<EditForm Model="@Model" OnSubmit="@SendMessage">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="subject">Subject: 
    <InputText id="subject" @bind-Value="Model.Subject" />
    </label>
    <label for="data">Data: <InputText id="data" @bind-Value="Model.Data" />
    </label>
    <button class="btn btn-primary" type="submit">Send</button>
</EditForm>

<FlexGrid ItemsSource="MessageGrid.Items" 
          AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star" 
          ColumnHeaderStyle="@("font-weight:bold")"
          SelectionChanged="@MessageGrid.SelectionChanged"
          SelectionMode="GridSelectionMode.Row"
          CellTapped="MessageGrid.OnCellTaped"
          CellDoubleTapped="MessageGrid.OnCellDoubleTaped"
          CellFactory="@GridCellFactory"
          >  
    <FlexGridColumns>  
        <GridColumn Binding="Selected" Header="Sel" IsReadOnly="true" Width="50"/>
        <GridColumn Binding="TimeStamp" IsReadOnly="true"/>  
        <GridColumn Binding="Subject" IsReadOnly="true"/>  
        <GridColumn Binding="Data" IsReadOnly="true"/>  
    </FlexGridColumns>  
</FlexGrid>