@page "/messages"
@inherits MessagesComponent

@using C1.Blazor.Grid

<BSCard Class="mb-1">
    <BSCard CardType="CardType.Header">Details</BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Subtitle">Edit and save message to later use</BSCard>
    </BSCard>
    <BSCard CardType="CardType.Body">
        <EditForm Model="@Model" OnSubmit="@SaveMessage">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group row">
                <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                <div class="col-sm-10">
                    <InputText id="subject" class="form-control" @bind-Value="Model.Subject"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="url" class="col-sm-2 col-form-label">Url</label>
                <div class="col-sm-10">
                    <InputText id="url" class="form-control" @bind-Value="Model.Url"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="data" class="col-sm-2 col-form-label">Data</label>
                <div class="col-sm-10">
                    <InputTextArea id="data" class="form-control" @bind-Value="Model.Data"/>
                </div>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </EditForm>
    </BSCard>
</BSCard>

<BSCard Class="mb-1">
    <BSCard CardType="CardType.Header">Sent / Received Messages</BSCard>
    <BSCard CardType="CardType.Body">
        <FlexGrid ItemsSource="MessageGrid.Items"
                  AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star"
                  ColumnHeaderStyle="@("font-weight:bold")"
                  SelectionChanged="@MessageGrid.SelectionChanged"
                  SelectionMode="GridSelectionMode.Row"
                  CellTapped="MessageGrid.OnCellTaped"
                  CellDoubleTapped="MessageGrid.OnCellDoubleTaped"
                  CellFactory="@GridCellFactory">
            <FlexGridColumns>
                <GridColumn Binding="Type" IsReadOnly="true" Width="100">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Message type: publish, received, request, reply"></span>
                    </CellTemplate>
                </GridColumn>
                <GridColumn Binding="TimeStamp" IsReadOnly="true" Format="HH:mm:ss.fff"/>
                <GridColumn Binding="Subject" IsReadOnly="true"/>
                <GridColumn Binding="Data" IsReadOnly="true"/>
                <GridColumn Binding="Url" IsReadOnly="true"/>
                <GridColumn Binding="Inspect" IsReadOnly="true" Width="100">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Inspect data"></span>
                    </CellTemplate>
                </GridColumn>
                <GridColumn Binding="Pin" IsReadOnly="true" Width="100">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Save message"></span>
                    </CellTemplate>
                </GridColumn>
            </FlexGridColumns>
        </FlexGrid>
    </BSCard>
</BSCard>