@page "/subscriptions" 
@inherits SubscriptionsComponent


@using C1.Blazor.Grid

<BSCard Class="mb-1">
    <BSCard CardType="CardType.Body" Class="pb-0">
        <EditForm Model="@Model" OnSubmit="@CreateSubscription">
            <label for="subject">Subject</label>
            <InputText id="subject" @bind-Value="Model.Subject"/>
            <button class="btn btn-primary" type="submit">Subscribe</button>
        </EditForm>
    </BSCard>
</BSCard>
<BSCard Class="mb-1">
    <BSCard CardType="CardType.Body" Class="pb-0">

        <FlexGrid ItemsSource="Subscriptions.Items"
                  AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star"
                  ColumnHeaderStyle="@("font-weight:bold")"
                  SelectionChanged="@Subscriptions.SelectionChanged"
                  SelectionMode="GridSelectionMode.Row"
                  CellTapped="Subscriptions.OnCellTaped"
                  CellDoubleTapped="Subscriptions.OnCellDoubleTaped"
                  CellFactory="@GridCellFactory">
            <FlexGridColumns>
                <GridColumn Binding="StatusImg" IsReadOnly="true" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Subscription status"></span>
                    </CellTemplate>
                </GridColumn>

                <GridColumn Binding="Subject" IsReadOnly="true"/>

                <GridColumn Binding="Subscribe" IsReadOnly="true" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Subscribe"></span>
                    </CellTemplate>
                </GridColumn>
                <GridColumn Binding="Unsubscribe" IsReadOnly="true" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Unsubscribe"></span>
                    </CellTemplate>
                </GridColumn>
                <GridColumn Binding="Trash" IsReadOnly="true" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Delete subscription"></span>
                    </CellTemplate>
                </GridColumn>
            </FlexGridColumns>
        </FlexGrid>
    </BSCard>
</BSCard>