@page "/executor"
@page "/executor/{JobId:int}"

@inherits ExecutorComponent

@using C1.Blazor.Grid
@* ReSharper disable once RedundantUsingDirective *@
@using nats_ui.Data.Scripts

<FlexGrid ItemsSource="ScriptCommandGrid.Items"
          AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star"
          ColumnHeaderStyle="@("font-weight:bold")"
          HeadersVisibility="GridHeadersVisibility.All"
          SelectionMode="GridSelectionMode.Row"
          CellFactory="@GridCellFactory"
>
    <FlexGridColumns>
        <GridColumn Binding="Checked" Header="Sel" IsReadOnly="true" Width="50"/>
        <GridColumn Binding="Status" IsReadOnly="true"/>
        <GridColumn Binding="Name" IsReadOnly="true"/>
        <GridColumn Binding="Param1" IsReadOnly="true"/>
        <GridColumn Binding="Param2" IsReadOnly="true"/>
    </FlexGridColumns>
    <FlexGridBehaviors>
        <FlexGridDetailProvider TItem="IScriptCommand" Height="130" DetailVisibilityMode="GridDetailVisibilityMode.ExpandMultiple">
            <div class="container">
                <div class="row">
                    <div class="col-sm">Timestamp: @context.TimeStamp</div>                        
                    <div class="col-sm">Duration: @context.Duration</div>
                </div>
                <div class="row">
                    <div class="col-sm">Result: @context.Result</div>
                </div>
            </div>
            
        </FlexGridDetailProvider>
    </FlexGridBehaviors>    
</FlexGrid>
