@page "/editor"
@inherits EditorComponent

@using C1.Blazor.Grid
@using nats_ui.Data.Scripts

<EditForm Model="@CommandModel" OnSubmit="@Add">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <InputSelect id="name" class="form-control" @bind-Value="CommandModel.Name">
                <option value="">Select a command...</option>
                @foreach (var name in ScriptService.CommandsByName.Keys)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="param1" class="col-sm-2 col-form-label">@CommandModel.ParamName1</label>
        <div class="col-sm-10">
            <InputText id="param1" class="form-control" @bind-Value="CommandModel.Param1"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="param2" class="col-sm-2 col-form-label">@CommandModel.ParamName2</label>
        <div class="col-sm-10">
            <InputTextArea id="param2" class="form-control" @bind-Value="CommandModel.Param2"/>
        </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</EditForm>
<hr/>
<EditForm Model="@SaveModel" OnSubmit="@Save">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <InputText id="name" class="form-control" @bind-Value="SaveModel.Name"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="file" class="col-sm-2 col-form-label">File</label>
        <div class="col-sm-10">
            <InputText id="file" class="form-control" @bind-Value="SaveModel.File"/>
        </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</EditForm>
<hr/>
<FlexGrid ItemsSource="@CommandsGrid.Items"
          AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star"
          ColumnHeaderStyle="@("font-weight:bold")"
          SelectionChanged="@CommandsGrid.SelectionChanged"
          SelectionMode="GridSelectionMode.Row"
          CellTapped="@CommandsGrid.OnCellTaped"
          CellDoubleTapped="@CommandsGrid.OnCellDoubleTaped"
          CellFactory="@GridCellFactory">
    <FlexGridColumns>
        <GridColumn Binding="Checked" Header="Sel" IsReadOnly="true" Width="50"/>
        <GridColumn Binding="Name" IsReadOnly="true"/>
        <GridColumn Binding="Param1" IsReadOnly="true"/>
        <GridColumn Binding="Param2" IsReadOnly="true"/>
    </FlexGridColumns>
</FlexGrid>