@page "/nats"
@inherits NatsConnectionComponent
@using C1.Blazor.Grid

<h1>Nats</h1>

<EditForm Model="@NatsConnection" OnSubmit="@CreateConnection">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="NatsConnection.Name" />
    <InputText id="host" @bind-Value="NatsConnection.Host" />
    <InputNumber id="port" @bind-Value="NatsConnection.Port" />

    <button class="btn btn-primary" type="submit">Create</button>
</EditForm>
<div>@Status</div>
<button class="btn btn-primary" @onclick="RemoveConnections">Remove</button>
<button class="btn btn-primary" @onclick="DumpConnections">Dump</button>

<FlexGrid ItemsSource="connections" 
          AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star" 
          ColumnHeaderStyle="@("font-weight:bold")"
          SelectionChanged="@SelectedConnectionChanged"
          SelectionMode="GridSelectionMode.Row"
          CellTapped="OnCellTaped"
          CellFactory="@GridCellFactory"
          >  
    <FlexGridColumns>  
        <GridColumn Binding="Selected" Header="Sel" IsReadOnly="true" Width="50"/>
        <GridColumn Binding="Name" IsReadOnly="true"/>  
        <GridColumn Binding="Host" IsReadOnly="true"/>  
        <GridColumn Binding="Port" IsReadOnly="true" />  
    </FlexGridColumns>  
</FlexGrid>