@page "/inspector" 
@using InputType = BlazorStrap.InputType
@inherits InspectorComponent

<BSContainer IsFluid="true">
    <BSRow>
        <BSForm Model="@Model" Class="col-sm-12">
            <BSFormGroup IsRow="true">
                <BSLabel For="type">Type</BSLabel>
                <BSBasicInput T="PatternType" Id="type" InputType="InputType.Select" Size="Size.Small" @bind-value="Model.Type">
                    <option>@(PatternType.Json)</option>
                    <option>@(PatternType.Regex)</option>
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup IsRow="true">
                <BSLabel For="pattern">Pattern</BSLabel>
                <BSInput Size="Size.ExtraLarge" Id="pattern" @bind-Value="Model.Pattern"/>
            </BSFormGroup>
            <BSFormGroup IsRow="true">
                <BSButton @onclick="TestPattern">Test</BSButton>
                <BSButton @onclick="AddCommand">Add</BSButton>
            </BSFormGroup>
        </BSForm>
    </BSRow>
    <hr/>
    <BSRow>
        <BSCol XS="6">
            <h1>Data<hr/></h1>
            <div class="overflow-auto">
                <pre>@Data</pre>
            </div>
        </BSCol>
        <BSCol XS="6">
            <h1>Result<hr/></h1>
            <div>
                <pre>@Model.Result</pre>
            </div>
        </BSCol>
    </BSRow>

</BSContainer>