@page "/inspector" 
@inherits InspectorComponent

<div class="overflow-auto">@Data</div>
<hr/>
<div class="accordion">
    <BSCollapseGroup>
            <BSCollapseItem>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSCollapseToggle><i class="@RegexText"></i>Collapsable Group Item</BSCollapseToggle>
                    </BSCard>
                    <BSCollapse ShowEvent="@OnRegexShowEvent" HideEvent="@OnRegexHideEvent">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Text">Regex sandbox</BSCard>
                        </BSCard>
                    </BSCollapse>
                </BSCard>
            </BSCollapseItem>
            <BSCollapseItem>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSCollapseToggle><i class="@JsonText"></i>Json</BSCollapseToggle>
                    </BSCard>
                    <BSCollapse ShowEvent="@OnJsonShowEvent" HideEvent="@OnJsonHideEvent">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Text">Json sandbox</BSCard>
                        </BSCard>
                    </BSCollapse>
                </BSCard>
            </BSCollapseItem>
    </BSCollapseGroup>
</div>