@page "/connections"
@inherits ConnectionsComponent
@using C1.Blazor.Grid
@using C1.Blazor.Core


<BSCard Class="mb-1">
    <BSCard CardType="CardType.Header">Create new connection</BSCard>
    <BSCard CardType="CardType.Body" Class="pb-0">
        <EditForm Model="@Model" OnSubmit="@CreateConnection">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="Model.Name"/>
            <label for="host">Host</label>
            <InputText id="host" @bind-Value="Model.Host"/>
            <label for="port">Port</label>
            <InputNumber id="port" @bind-Value="Model.Port"/>

            <button class="btn btn-primary" type="submit">Create</button>
        </EditForm>
    </BSCard>
</BSCard>

<BSCard Class="mb-1">
    <BSCard CardType="CardType.Body" Class="pb-0">
        <FlexGrid ItemsSource="Connections.Items"
                  AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star"
                  ColumnHeaderStyle="@("font-weight:bold")"
                  SelectionChanged="@Connections.SelectionChanged"
                  SelectionMode="GridSelectionMode.Row"
                  CellTapped="Connections.OnCellTaped"
                  CellDoubleTapped="Connections.OnCellDoubleTaped"
                  CellFactory="@GridCellFactory">
            <FlexGridColumns>
                <GridColumn Binding="StatusImg"   HorizontalAlignment="C1HorizontalAlignment.Center" HeaderHorizontalAlignment="C1HorizontalAlignment.Center" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Connection status"></span>
                    </CellTemplate>
                </GridColumn>

                <GridColumn Binding="Name" IsReadOnly="true"/>
                <GridColumn Binding="Host" IsReadOnly="true"/>
                <GridColumn Binding="Port" IsReadOnly="true"/>
                <GridColumn Binding="Run"   HorizontalAlignment="C1HorizontalAlignment.Center" HeaderHorizontalAlignment="C1HorizontalAlignment.Center" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Connect"></span>
                    </CellTemplate>
                </GridColumn>
                <GridColumn Binding="Stop"   HorizontalAlignment="C1HorizontalAlignment.Center" HeaderHorizontalAlignment="C1HorizontalAlignment.Center" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Disconnect"></span>
                    </CellTemplate>
                </GridColumn>
                <GridColumn Binding="Trash"   HorizontalAlignment="C1HorizontalAlignment.Center" HeaderHorizontalAlignment="C1HorizontalAlignment.Center" Header="" Width="50">
                    <CellTemplate>
                        <span class="@context" data-toggle="tooltip" title="Delete connection"></span>
                    </CellTemplate>
                </GridColumn>

            </FlexGridColumns>
        </FlexGrid>
    </BSCard>
</BSCard>